[user]
	name = Florian Buerger
	email = florian@florianbuerger.com

[alias]
	c = commit -v
	d = diff
	dc = diff --cached
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	a = add -p
	ca = commit -a

[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore

[push]
	default = matching

[merge]
	ff = false
	tool = opendiff

[mergetool]
	keepBackup = false

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[credential]
	helper = osxkeychain
