[user]
	name = Florian Buerger
	email = florian@florianbuerger.com

[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/florian/.gitignore_global
	editor = ~/.bin/subl -n -w

[push]
	default = simple

[merge]
	tool = opendiff

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[credential]
	helper = osxkeychain

[alias]
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
 	glog = log --graph --pretty=format:\"%C(yellow)%h%Creset %ad  %s%C(cyan)%d%Creset %C(green)[%an]%Creset\" --date=short
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    publish = "!git push -u origin $(git branch-name)"
    unmerged = "branch --no-merged"

[status]
	showUntrackedFiles = all

[color]
	status = always
	ui = true

[hub]
	host = ghe-us.microsoft.com
[diff]
	tool = opendiff
[mergetool]
	keepBackup = false
